<form method="post" action="{% url 'ajouter_groupe' %}">
    {% csrf_token %}
      <label for="Nom">Nom :</label>
      <input type="text" id="Nom" name="Nom" required><br><br>
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" required><br><br>
      <label for="email">Email :</label>
      <input type="Email" id="email" name="email" required><br><br>
      <label for="filiere">Filière :</label>
      
      <select type="text" id="filiere" name="filiere" required>
        <option>TC</option>
        <option>DSI</option>
        <option>RSS</option>
        <option>RSS</option>
        
      </select><br><br>
  
      <label for="libele">Libellé :</label>
      <input type="text" id="libele" name="libele" required><br><br>
      <input type="submit" value="Ajouter">
  </form>