{% extends "base/base.html" %} {% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Créer un groupe</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>   
        var selectedEmployees = [];
        $(document).ready(function () {
            $("#matricule").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "{% url 'autocomplete_etudiants' %}",
                        type: "POST",
                        dataType: "json",
                        data: { matricule: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item.Nom,
                                    value: item.matricule
                                };
                            }));
                        }
        
        
                    });
                },
                select: function (event, ui) {
                    $("#matricule").val(ui.item.label); // Set display text
                    $("#matricule1").val(ui.item.value); // Set hidden value
                    var selectedMatricule = ui.item.label;
                    $("#divAddAnother").append("<li>" + ui.item.label + "</li>");
                    $("#matricule").val("");
                    $("#SelectedEmployeeIds").val(function (index, value) {
                        return value + ui.item.value + ",";
                    });
                    return false;
                }
            }).autocomplete("source")._renderItem = function (ul, item) {
                return $("<li>")
                    .append("<div>" + item.Nom + "</div>")
                    .appendTo(ul);
            };
        });
        function updateSelectedEmployeesList() {
            $("#divAddAnother").empty();
            selectedEmployees.forEach(function (etudiants) {
                $("#divAddAnother").append("<li>" + etudiants.matricule + " - " + etudiants.Nom + "</li>");
            });
        }
        
        $("form").submit(function (event) {
            event.preventDefault();
            var libele = $("#id_libele").val();
            var idSimester = $("#id_idSimester").val();
            var idEtud = $("#id_idEtud").val();
        
            // Créez une chaîne de caractères contenant les matricules des étudiants sélectionnés
            var matricules = selectedEmployees.map(function (etudiants) {
                return etudiants.matricule;
            }).join(',');
        
            // Mettez à jour les champs du formulaire avec les valeurs sélectionnées
            $("#matricule").val(matricules);
        
            // Soumettez le formulaire
            $("form").unbind("submit").submit();
          });
        
            </script>




</head>
<body>
    
<h1>Saisir un stage</h1>
<pre> <a href="{% url 'stg' %}">stage</a>                               <a href="{% url 'encad' %}">Encadrant</a>                                       <a href="{% url 'etd' %}">Identification sur groupe </a>  </pre>


    
    <h1>Créer un groupe</h1>
    
    <form method="post">
       
        {% csrf_token %}
        <div>
          <label for="id_idSimester">idSimester:</label>
          <input type="number" name="idSimester" id="id_idSimester">
       </div>
        <div>
          <label for="id_idEtud">idEtud:</label>
          <input type="number" name="idEtud" id="id_idEtud">
        </div>
        <div>
          <label for="id_libele">Libelé:</label>
          <input type="text" name="libele" id="id_libele">
      </div>
      <div>
          <label for="matricule">Membres:</label>
          <input type="text" name="matricule" id="matricule">
          <input type="hidden" name="matricule1" id="matricule1" />

      </div>
        <div >
            <ul id="divAddAnother">
            </ul>
        </div>



      
        <button type="submit">Enregistrer</button>
    </form>
   
     

     
    

{% endblock %}
     
    
</body>
</html>
