{% extends "base/base.html" %} {% block body %}
<h1>Create a new  etudiants</h1>
<form method="post" action="{% url 'add_etudiant' %}">
    {% csrf_token %}
      <label for="matricule">matricule :</label>
      <input type="number" id="matricule" name="matricule" required><br><br>
      <label for="Nom">Nom :</label>
      <input type="text" id="Nom" name="Nom" required><br><br>
      <label for="prenom">prenom :</label>
      <input type="text" id="prenom" name="prenom" required><br><br>
      <label for="dep">Dep :</label>
      <select name="dep" id="dep">
        {% for dep in dep %}
        <option value="{{ dep.id }}">{{ dep.libele }}</option>
        {% endfor %}
      </select><br>
  
      <input type="submit" value="Ajouter">
  </form>
  {% endblock %}