{% extends "base/base.html" %}

{% block body %}
<html>
    <head>
        <title>Supnum</title>
    </head>
    <body>
        <h1>hello {{name}} bien venue sur mon site                                                                  </h1>
        <table>
            <tr style="font-size: larger; font-weight: bolder ;">
                <td style="padding-left: 10%;">g  </td>
                <td style="padding-left: 10%;">n  </td>
            </tr>
            <tr>
                <td>
                    <img src="static/factures_graphique.png" alt="ndi hun sore neb9ihe" style="width: 100%;">
                </td>
                <td>
                    <img src="static/factures_graphique2.png" alt="ndi hun sore neb9ihe"style="width: 100%;"></tr>
                </td>
        </table>
    </body>
</html>

{% endblock %}
